* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #ffffff60;
}

.navbar .form-search {
  background-color: #ebe6e6;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

.navbar .form-search input {
  width: 85%;
  height: 80%;
  margin-left: 0.5rem;
  padding-left: 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
}

.navbar .form-search button {
  background-color: #598ffb;
  height: 80%;
  width: 11%;
  border-radius: 0.3rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #2c72ff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: #ffc800;
  justify-content: space-between;
}

.navbar .navbar-nav a {
  display: inline-block;
  margin: 0 1rem;
  color: #000000;
}

/* Hero */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../Assets/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
  /* background: #31313100; */
  top: 5.9rem;
}

.hero .container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51rem;
  width: 106rem;
  background-color: #00000074;
}

.hero .container .content h1 {
  font-size: 8rem;
  font-weight: 700;
  color: #2e72fa;
  -webkit-text-stroke: 2px #000000;
}

.hero .container .content h1 span{
  color: #e3b201;
}
/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html{
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px){
  html{
    font-size: 62.5%;
  }

  .navbar .form-search {
    background-color: #ebe6e6;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
  }
  
  .navbar .form-search input {
    width: 85%;
    height: 80%;
    margin-left: 0.5rem;
    padding-left: 1rem;
    font-size: 1rem;
    border-radius: 0.3rem;
  }
  
  .navbar .form-search button {
    background-color: #598ffb;
    height: 80%;
    width: 11%;
    border-radius: 0.3rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
  }
  
}

/* Mobile */
@media (max-width: 450px){
  html{
    font-size: 55%;
  }

  .navbar .navbar-logo {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .navbar .form-search {
    width: 25rem;
    height: 2.5rem;
  }
  
  .navbar .form-search input {
    width: 85%;
    height: 80%;
    font-size: 0.7rem;
  }
  
  .navbar .form-search button {
    height: 80%;
    width: 11%;
    font-size: 0.5rem;
    font-weight: 500;
  }

}
